.banner{
    background-image: url(https://www.0800donrouch.com.ar/images/banner-joyas.png);
    height: 80px;
    filter: grayscale(90%);
    font-size: 50px;
    font-weight: bold;
}
.footer_area {
    background-color: black;
    color:white;
    padding: 10px;
    
}
.footer_area ul li {
    padding: 10px;
}